<div class="container-fluid">

  <div class="card" style="">
    <div class="p-1 card-img-top ratio ratio-16x9" style="overflow: hidden;">
      <video src="" class="object-fit-contain" controls autoplay loop>
        <source src="/home/shayak/Youtube/larg/3/main.mp4" type="video/mp4">
      </video>
    </div>
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
    </div>
  </div>
</div>

